<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title">关于</h3>    
    <div class="widget">
      粒子物理，博士。 <br/>
      <img src="https://hans2936.github.io/favicon.jpg" alt="" height=50% width=50% /><br/>
      <!--
      微信公众号：韩朔 <br/>
      <img src="https://hans2936.github.io/weixin.jpg" alt="" height=50% width=50% /><br/>
      -->
      微博：<a href="https://www.weibo.com/2161285545">琴剑诗书妃子笑</a> <br/>
      E-mail: shuo.han@cern.ch       
    </div>
  </div>
<% } %>
